header{
    background-color: #0055ff;
    min-height: auto;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    cursor: crosshair;
}
h1{
    opacity: 0.2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
nav{
    background-color: #0041f5;
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
}
nav a{
    padding: 1vh;
}
a:hover{
    cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur1.ani),
    url(https://cur.cursors-4u.net/cursors/cur-1/cur1.png),
    auto !important;
}

 